@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to GitFit</h1>
        <p>Activity Tracker</p>
        <img src="~/images/logo.png" />
        <p>Your privacy is important to us. It is GitFit's policy to respec
    </div>
