@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <div class="home-spacer"></div>
        <h1 class="display-4">Welcome to GitFit</h1>
        <p class="neg-space">Fitness Activity Tracker</p>
        <img src="~/images/logo.png" />
    </div>
