/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*nav bg color:#3B3F44
    grey font: #AAA
    body bg: #272B30
    Logo:
    l-green: #34ADA5
    d-green: #28837D
*/
/*sticky nav*/
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/*to alot for the space the sticky nav eats*/
.home-spacer {
    width: 100%;
    height: 200px;
}

.spacer {
    width: 100%;
    height: 150px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    border: none;
}

a.navbar-brand span, a {
    color: #34ADA5; /*l-green*/
}

    a.navbar-brand span:hover {
        color: #28837D /*d-green*/
    }


.btn-primary {
    color: #fff;
    background-color: #34ADA5;
    border-color: #28837D;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #34ADA5; /*l-green*/
    border-color: #28837D; /*d-green*/
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    text-align: center;
}
